{% load my_tags %}
<ul class="navbar-nav me-auto mb-2 mb-md-0">
  <li class="nav-item">
    <a class="navbar-brand" href="{% url 'books:home' %}">
      <img src="/media/Club11_book_shop.png" alt="" width="200" height="45" class="d-inline-block align-text-left">
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'books:book_goods_list' %}">Книги</a>
  </li>
    {% if user.is_authenticated %}
      {% for object in user.groups.all %}
          <li>{% if object.name == 'staff' %}</li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'books:book_list' %}">Перечень товаров </a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'directories:directories' %}">Перечень справочников</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'orders:list_order' %}">Список заказов</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'staff:excel_import' %}">Импорт файлов</a>
          </li>
          {% endif %}
        </li>
      {% endfor %}
      <li class="nav-item">
        <a class="nav-link active"  href="{% url 'profiles:profile_user' %}">{{ user }}</a>
      </li>
    {% endif %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'orders:create_order' %}">Корзина</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'profiles:logout' %}">Выйти</a>
    </li>
      <a class="nav-link" href="">1 BYN = {% currency_rate %}</a>
    </li>
</ul>



{% for object in user.groups.all  %}
<li>{% if object.name == 'staff'   %}</li>
    {{ object.name }} + asdasads
    {% endif %}
{% endfor %}


{#<li class="nav-item">#}
{#  <a class="nav-link active" aria-current="page" href="{% url 'books:home' %}">Club11 book shop</a>#}
{#</li>#}