{% load my_tags %}
<ul class="navbar-nav me-auto mb-2 mb-md-0">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'books:home' %}">Club11 book shop</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'books:book_goods_list' %}">Книги</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'books:book_list' %}">Перечень товаров </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'directories:directories' %}">Перечень справочников</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active"  href="{% url 'profiles:profile_user' %}">{{ user }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  href="{% url 'orders:list_order' %}">Список заказов</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'orders:create_order' %}">Корзина</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'profiles:register' %}">Регистрация</a>
    </li>
    <li class="nav-item"> 
      <a class="nav-link" href="{% url 'profiles:login' %}?{{ request.path }}">Войти</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'profiles:logout' %}">Выйти</a>
    </li>
    <a class="nav-link" href="">1 BYN = {% currency_rate %}</a>
  </li>

</ul>

