
{% extends 'base.html' %}
{% load template_tags %}
{% block title %} Book detail {% endblock title %}
{% block body %}
<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <img src='{{ object.picture.url }}' class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="color:#FFFF00"> <b>{{ object.book_name }}</b></h5> 
      <p class="card-text"> 
        Автор: <b style="color:#FFFF00">{{ object.author }}</b></br>  
        Серия: {{ object.serie }}</br>
        Жанр: {{ object.genre }}</br>
        Издатель: {{ object.editor }} </br>
        Год издания: {{ object.publishing_date }} </br>
        Кол-во страниц: <b>{{ object.pages }}</b></br>
        Переплет: <b>{{ object.binding }}</b></br>
        Формат: {{ object.format }}</br>
        ISBN: {{ object.isbn }}</br>
        Вес: {{ object.weigh }}</br>
        Возрастные ограничения: {{ object.age_restrictions }}</br>
        Количество в наличии: {{ object.value_available }}</br>
        Доступен для заказа: <b>  {% if object.available is True %}
                                  Да
                                  {% else %}
                                  Нет
                                  {% endif %}</br>
        Рейтинг: <b>{{ object.rating }}</b></br>
        <b>Цена: {{ object.price }} {{ object.currency_price }}</b> </br>
        <br>
        Дата внесения в каталог: {{ object.publication_date }}</br>
        Дата последнего изменения карточки: {{ object.publication_edit_date }}</br>   
    </p>
      <a href="{% url 'books:book_list' %}" class="btn btn-light">Назад к списку</a>
    </div>
  </div>


{% show_comments %}

{% endblock body %}




<form action="{% url 'add_rating' %}" method="post" name="rating"></form>

{{ object.available }}</b></br>


<form action="{% url 'books:add_rating' %}" method="post" name="rating">
  <b>Рейтинг</b>
  {% csrf_token %}
  <input type="hidden" value="{{ book.id }}" name="'book">
  <span class="rating">
    {% for k, v in star_form.fields.star.choices %}
    <input id="rating{{ v }}" type="radio" name="star"
      value="{{ v }}">
    <label for="rating{{ v }}">{{ k }}</label>
    {% endfor %}
  </span>
</form>