
.rating > label {
    position: relative;
    display: block;
    float: right;
    background: url('../images/star-off-big.png');
    background-size: 30px 30px;
}

.rating > label:before {
    display: block;
    opacity: 0;
    content: '';
    width: 30px;
    height: 30px;
    background: url('../images/star-on-big.png');
}
