<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flat</title>
</head>
<body>
    <h1>Flat</h1>
    <b>Description:</b> <br>
    <b>ID:</b> {{ flat.pk }} <br>
    <b>Flat #:</b> {{ flat.flat_number }} <br>
    <b>Level: </b> </b>{{ flat.level}} <br>
    <b>Description:</b</b>> {{ flat.description }} <br>
    <b>Is_sold:</b> 
    {% if flat.is_sold %}
        Yes
    {% else %}
        Not
    {% endif %}
    <br>
    Lux:</b> 
    {% if flat.lux %}
        Yes
    {% else %}
        No
    {% endif %}
    <br>
    <b>Square:</b> {{ flat.square }} {{ flat.square_dim }} pk= {{ flat.square_dim.pk }}<br>
    <b>Created:</b> {{ flat.created | date:"D = d = M Y e" }} <Br> 
    <b>time since created: {{ flat.created | timesince }} <br>
    <b>Updated:ted: </b> {{ flat.updated }} <br>
</bod</b>
</html>