<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href = '/ATL/'>    "ATL":"Hartsfield Atlanta International",</a></li>
        <li><a href = '/BWI/'>   "BWI":"Washington DC - Baltimore Washington International",</a> </li>
        <li><a href = '/DFW/'>   "DFW":"Dallas/Fort Worth International" ,</a> </li>
        <li><a href = '/JFK/'>   "JFK":"New York - John F. Kennedy",</a> </li>
        <li><a href = '/LAX/'>   "LAX":"Los Angeles",</a> </li>
        <li><a href = '/ORD/'>    "ORD":"Chicago - O'Hare International",</a></li>
    </ul>
</body>
</html>